[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "imputeR"]
	path = imputeR
	url = https://github.com/steffenmoritz/imputer
[submodule "imputeTS"]
	path = imputeTS
	url = https://github.com/steffenmoritz/imputets
[submodule "kssa"]
	path = kssa
	url = https://github.com/steffenmoritz/kssa
[submodule "ridge"]
	path = ridge
	url = https://github.com/steffenmoritz/ridge
